<main>
    <h1>Sorry the forum is only available on official domains</h1>
    <div style="display: flex; gap: 2px;">
        <button><a href="/">Go Home</a></button>
        <button><a href="https://dsc.gg/parcoil"><i class="fa-brands fa-discord"></i>&nbsp;Join the Discord For Links</a></button>
    </div>
</main>

<script></script>