<main>
  <h1>Sorry the forum is only available on official domains</h1>
  <div style="display: flex; gap: 2px">
    <button><a href="/">Go Home</a></button>
    <button>
      <a href="https://dsc.gg/parcoil"
        ><i class="fa-brands fa-discord"></i>&nbsp;Join the Discord For Links</a
      >
    </button>
  </div>
  <script type="text/javascript">
    atOptions = {
      key: "13def82c028e7c80ebeecd26958279a7",
      format: "iframe",
      height: 90,
      width: 728,
      params: {},
    };
  </script>
  <script
    type="text/javascript"
    src="//rethinkexercisesupplement.com/13def82c028e7c80ebeecd26958279a7/invoke.js"
  ></script>
</main>
<script></script>
