<main>
  <script type="text/javascript">
    atOptions = {
      key: "13def82c028e7c80ebeecd26958279a7",
      format: "iframe",
      height: 90,
      width: 728,
      params: {},
    };
  </script>
  <script
    type="text/javascript"
    src="//rethinkexercisesupplement.com/13def82c028e7c80ebeecd26958279a7/invoke.js"
  ></script>
  <h1>Sorry the forum is only available on official domains</h1>
  <div style="display: flex; gap: 2px">
    <button><a href="/">Go Home</a></button>
    <button>
      <a href="https://dsc.gg/parcoil"
        ><i class="fa-brands fa-discord"></i>&nbsp;Join the Discord For Links</a
      >
    </button>
  </div>
  <div class="footer footer-left" style="left: 10px; font-size: 20px">
    <a href="https://github.com/Parcoil/lunaar.org"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a href="htts://dsc.gg/parcoil"><i class="fa-brands fa-discord"></i></a>
  </div>
  <div class="footer">
    <a id="version" href="https://github.com/parcoil/lunaar.org">v0.0.0</a>
  </div>
  <div class="footer footer-right" style="right: 10px">
    <a href="https://parcoil.com">© 2022-2025 Parcoil Network All rights reserved</p>
  </div>
</main>
<script></script>
