<main>
  <div class="proxy-bar">
    <div class="proxy-buttons">
      <button class="prxbtn" onclick="prxback()" title="Go Back">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button class="prxbtn" onclick="prxfoward()" title="Go Forward">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
      <button class="prxbtn" onclick="prxrefresh()" title="Refresh Page">
        <i class="fa-solid fa-arrow-rotate-right"></i>
      </button>
    </div>
    <div class="search-container">
      <img src="/media/cloaks/google.png" alt="" id="search-icon" />

      <form id="proxy-form">
        <input
          id="proxy-search-engine"
          value="https://www.google.com/search?q=%s"
          type="hidden"
        />
        <input
          id="proxy-address"
          type="text"
          placeholder="Search the the web with Google"
          class="search"
        />
      </form>
    </div>
    <div class="proxy-buttons">
      <button class="prxbtn" onclick="prxhome()" title="Home">
        <i class="fa-solid fa-house"></i>
      </button>
      <button class="prxbtn" onclick="prxfullscreen()" title="Fullscreen">
        <i class="fa-solid fa-expand"></i>
      </button>
      <button class="prxbtn" onclick="prxwindow()" title="Open in New Window">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </button>
      <button class="prxbtn" onclick="prxinspect()" title="Inspect Element">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
  <div></div>

  <div class="game-frame">
    <span class="loader"></span>
    <p class="nite">if you get a error please refresh</p>
    <iframe id="frame" src="" frameborder="0"></iframe>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let prxurl = sessionStorage.getItem("lpurl");
    let frame = document.getElementById("frame");
    let rawurl = sessionStorage.getItem("rawurl");

    let nav = document.querySelector(".navbar");
    let inspectstate = false;
    const address = document.getElementById("proxy-address");

    if (address && rawurl) {
      address.value = rawurl;
    }

    if (nav) {
      nav.remove();
    }

    if (frame) {
      frame.src = prxurl;

      function prxback() {
        frame.contentWindow.history.back();
      }

      function prxfoward() {
        frame.contentWindow.history.forward();
      }

      function prxrefresh() {
        frame.contentWindow.location.reload();
      }
      function prxinspect() {
        if (inspectstate) {
          eruda.hide();
          inspectstate = false;
        } else {
          eruda.init();
          eruda.show();
          inspectstate = true;
        }
      }

      function prxhome() {
        window.location = /./;
      }

      function prxfullscreen() {
        if (frame.requestFullscreen) {
          frame.requestFullscreen();
        } else if (frame.mozRequestFullScreen) {
          frame.mozRequestFullScreen();
        } else if (frame.webkitRequestFullscreen) {
          frame.webkitRequestFullscreen();
        } else if (frame.msRequestFullscreen) {
          frame.msRequestFullscreen();
        }
      }

      function prxwindow() {
        let newWindow = window.open("about:blank", "_blank");
        if (newWindow) {
          newWindow.document.write(
            `<iframe src="${frame.src}" frameborder="0" style="width: 100%; height: 100%;"></iframe>`
          );
          newWindow.document.close();
        }
      }

      window.prxback = prxback;
      window.prxfoward = prxfoward;
      window.prxrefresh = prxrefresh;
      window.prxhome = prxhome;
      window.prxfullscreen = prxfullscreen;
      window.prxinspect = prxinspect;
      window.prxwindow = prxwindow;

      fetchSearchEngine();
    }
  });
</script>

<style>
  iframe {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  .game-frame {
    width: 100%;
    height: 100%;
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    text-align: center;
    z-index: -1;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    z-index: -1;
    border: 5px solid var(--button);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .proxy-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    flex-direction: row;
    padding: 5px;
  }
  .proxy-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .nite {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
</style>
