<script>
  document.addEventListener("DOMContentLoaded", () => {
    let prxurl = sessionStorage.getItem("lpurl");
    let frame = document.getElementById("frame");
    let rawurl = sessionStorage.getItem("rawurl");
    let bareWarning = sessionStorage.getItem("bareWarning");

    let nav = document.querySelector(".nav");
    let inspectstate = false;
    const address = document.getElementById("uv-address");

    if (address) {
      address.value = rawurl;
    }

    if (nav) {
      nav.remove();
    }

    if (frame) {
      frame.src = prxurl;

      function prxback() {
        frame.contentWindow.history.back();
      }

      function prxfoward() {
        frame.contentWindow.history.forward();
      }

      function prxrefresh() {
        frame.contentWindow.location.reload();
      }
      function prxinspect() {
        if (inspectstate) {
          eruda.hide();
          inspectstate = false;
        } else {
          eruda.init();
          eruda.show();
          inspectstate = true;
        }
      }

      function prxhome() {
        window.location = /./;
      }

      // stack overflow
      function prxfullscreen() {
        if (frame.requestFullscreen) {
          frame.requestFullscreen();
        } else if (frame.mozRequestFullScreen) {
          frame.mozRequestFullScreen();
        } else if (frame.webkitRequestFullscreen) {
          frame.webkitRequestFullscreen();
        } else if (frame.msRequestFullscreen) {
          frame.msRequestFullscreen();
        }
      }

      function prxwindow() {
        let newWindow = window.open("about:blank", "_blank");
        if (newWindow) {
          newWindow.document.write(
            `<iframe src="${frame.src}" frameborder="0" style="width: 100%; height: 100%;"></iframe>`
          );
          newWindow.document.close();
        }
      }

      window.prxback = prxback;
      window.prxfoward = prxfoward;
      window.prxrefresh = prxrefresh;
      window.prxhome = prxhome;
      window.prxfullscreen = prxfullscreen;
      window.prxinspect = prxinspect;
      window.prxwindow = prxwindow;
    }
    if (!bareWarning) {
      window.alert(
        'IF YOU GET A ERROR SAYING "there are no bare clients" RELOAD THE PAGE'
      );
      sessionStorage.setItem("bareWarning", true);
    } else {
      return;
    }
  });
</script>
<main>
  <div style="position: fixed" class="z">
    <h1>Loading...</h1>
    <script type="text/javascript">
      atOptions = {
        key: "13def82c028e7c80ebeecd26958279a7",
        format: "iframe",
        height: 90,
        width: 728,
        params: {},
      };
    </script>
    <script
      type="text/javascript"
      src="//rethinkexercisesupplement.com/13def82c028e7c80ebeecd26958279a7/invoke.js"
    ></script>
  </div>
  <p id="rng" style="position: fixed; bottom: 0" class="z"></p>
  <div class="prxbar">
    <div class="prxbuttons">
      <button class="prxbtn" onclick="prxback()" title="Go Back">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button class="prxbtn" onclick="prxfoward()" title="Go Forward">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
      <button class="prxbtn" onclick="prxrefresh()" title="Refresh Page">
        <i class="fa-solid fa-arrow-rotate-right"></i>
      </button>
    </div>
    <div>
      <form id="uv-form">
        <input
          id="uv-search-engine"
          value="https://www.google.com/search?q=%s"
          type="hidden"
        />
        <input
          id="uv-address"
          type="text"
          placeholder="Surf the web freely."
          value="test"
        />
        <button class="search-right" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

    <div class="prxbuttons">
      <button class="prxbtn" onclick="prxhome()" title="Home">
        <i class="fa-solid fa-house"></i>
      </button>
      <button class="prxbtn" onclick="prxfullscreen()" title="Fullscreen">
        <i class="fa-solid fa-expand"></i>
      </button>
      <button class="prxbtn" onclick="prxwindow()" title="Open in New Window">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </button>
      <button class="prxbtn" onclick="prxinspect()" title="Inspect Element">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <iframe src="" frameborder="0" id="frame"> </iframe>
  <script type="text/javascript">
    atOptions = {
      key: "13def82c028e7c80ebeecd26958279a7",
      format: "iframe",
      height: 90,
      width: 728,
      params: {},
    };
  </script>
  <script
    type="text/javascript"
    src="//rethinkexercisesupplement.com/13def82c028e7c80ebeecd26958279a7/invoke.js"
  ></script>
</main>
