<div style="position: fixed; left: 50%; transform: translateX(-50%);">
<script type="text/javascript">
	atOptions = {
		'key' : '13def82c028e7c80ebeecd26958279a7',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//rethinkexercisesupplement.com/13def82c028e7c80ebeecd26958279a7/invoke.js"></script>
</div>
<div class="container">

	<h1  class="title">Welcome To <div class="typing-container">
  <span id="typing-text" class="lunaar"></span>
  <span class="cursor">|</span>
</div></h1>
	<p class="slogan">A fast and secure web proxy.</p>
  
	<div class="search-container">
		<img src="/media/cloaks/google.png" alt="" id="search-icon">
		
		<form id="proxy-form">
			   <input
        id="proxy-search-engine"
        value="https://www.google.com/search?q=%s"
        type="hidden"
      />
		<input id="proxy-address" type="text" placeholder="Search the the web with Google" class="search">
		</form>
			 
	</div>
	<div>
      <p id="proxy-error"></p>
      <pre id="proxy-error-code"></pre>
	</div>
	<div style="margin-top: 10px;">
    <script type="text/javascript">
      atOptions = {
        'key' : '13def82c028e7c80ebeecd26958279a7',
        'format' : 'iframe',
        'height' : 90,
        'width' : 728,
        'params' : {}
      };
    </script>
    <script type="text/javascript" src="//rethinkexercisesupplement.com/13def82c028e7c80ebeecd26958279a7/invoke.js"></script>
  </div>
   
	<iframe style="display: none" id="proxy-frame"></iframe>
	<div class="footer footer-left" style="left: 10px; font-size: 20px">
    <a href="https://github.com/Parcoil/lunaar.org"><i class="fa-brands fa-github"></i></a>
    <a href="htts://dsc.gg/parcoil"><i class="fa-brands fa-discord"></i></a>
  </div>
<div class="footer">
    <a id="version" href="https://github.com/parcoil/lunaar.org">v0.0.0</a>
  </div>
  <div class="footer footer-right" style="right: 10px">
    <a href="https://parcoil.com">© 2022-2025 Parcoil Network All rights reserved</p>
  </div>
  
<script>
  document.body.style.overflow = "hidden";


const texts = ["Lunaar", "Freedom", "Perfection", "The Future", "The Ultimate Proxy", "The best site!"];
const typingSpeed = 100; 
const delayBetweenTexts = 2000; 

let currentTextIndex = 0;
let currentCharIndex = 0;

const typingTextElement = document.getElementById("typing-text");

function typeText() {
  const currentText = texts[currentTextIndex];
  if (currentCharIndex < currentText.length) {
    typingTextElement.textContent += currentText[currentCharIndex];
    currentCharIndex++;
    setTimeout(typeText, typingSpeed);
  } else {
    setTimeout(eraseText, delayBetweenTexts);
  }
}

function eraseText() {
  const currentText = texts[currentTextIndex];
  if (currentCharIndex > 0) {
    typingTextElement.textContent = currentText.slice(0, currentCharIndex - 1);
    currentCharIndex--;
    setTimeout(eraseText, typingSpeed);
  } else {
    currentTextIndex = (currentTextIndex + 1) % texts.length;
    setTimeout(typeText, typingSpeed);
  }
}
typeText();

</script>
</div>

</main>
    
<style >
	body {
	 overflow: hidden;
	}
    .title {
     margin: 0;
		
    }
	.slogan {
	 margin-top: 10px;
	}
  .typing-container {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
</style>
