<main id="main">
  <div class="home">
    <%- include('../components/logo') -%>

    <h1 class="lsans main-logo sitetext">lunaar.</h1>
    <p id="rng"></p>
    <form id="uv-form">
      <input
        id="uv-search-engine"
        value="https://www.google.com/search?q=%s"
        type="hidden"
      />
      <input
        autofocus
        id="uv-address"
        type="text"
        placeholder="Surf the web freely."
      />
      <button class="search-right" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <script type="text/javascript">
      atOptions = {
        key: "13def82c028e7c80ebeecd26958279a7",
        format: "iframe",
        height: 90,
        width: 728,
        params: {},
      };
    </script>
    <script
      type="text/javascript"
      src="//rethinkexercisesupplement.com/13def82c028e7c80ebeecd26958279a7/invoke.js"
    ></script>
  </div>
  <div class="footer footer-left" style="left: 10px; font-size: 20px">
    <a href="https://github.com/Parcoil/lunaar.org"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a href="htts://dsc.gg/parcoil"><i class="fa-brands fa-discord"></i></a>
  </div>
  <div class="footer">
    <a id="version" href="https://github.com/parcoil/lunaar.org"
      >Loading version</a
    >
  </div>
  <div class="footer footer-right" style="right: 10px">
    <p>&copy; 2022-2024 Parcoil Network All rights reserved</p>
  </div>
</main>
<iframe src="" frameborder="0" id="frame"></iframe>
<script defer>
  document.body.style.overflow = "hidden";

  fetch("../package.json")
    .then((response) => response.json())
    .then((data) => {
      $("#version").text(`v${data.version}`);
    });
</script>
<script></script>
