<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lunaar</title>
    <meta name="google-adsense-account" content="ca-pub-1565760898646999" />
    <meta
      name="description"
      content="Discover the top unblocked games like Slope, 1v1.lol, Cookie Clicker, Geometry Dash, and more. Enjoy seamless gaming experiences at school or work."
    />
    <meta
      name="keywords"
      content="unblocked games, slope unblocked, 1v1.lol unblocked, cookie clicker unblocked, geometry dash unblocked, roblox unblocked, minecraft unblocked, tetris unblocked, retro bowl unblocked, unblocked anime websites"
    />
    <link
      rel="icon"
      type="image/x-icon"
      id="favicon"
      href="/./media/logo.svg"
    />
    <link rel="stylesheet" href="/./css/main.css" />
    <script src="/./baremux/index.js" defer></script>
    <script src="/./epoxy/index.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
    <script src="/./uv/uv.bundle.js" defer></script>
    <script src="/./uv/uv.config.js" defer></script>
    <script src="/./uv/register-sw.js" defer></script>
    <script src="/./uv/search.js" defer></script>
    <script src="/./uv/index.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/Parcoil/cloak@main/src/index.min.js"></script>
    <script src="/./js/preload.js" defer></script>
    <script src="/./js/main.js" defer></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1565760898646999"
      crossorigin="anonymous"
    ></script>
    <script src="
https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js
"></script>
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
    />
  </head>
  <%- include('../components/nav') -%>
  <body>
    <%- body %>
    <script src="/./js/themes.js"></script>
    <script
      async="async"
      data-cfasync="false"
      src="//rethinkexercisesupplement.com/42ee10223c0f6e4a57d694b19aa2a7ee/invoke.js"
    ></script>
    <div id="container-42ee10223c0f6e4a57d694b19aa2a7ee"></div>
    <script
      type="text/javascript"
      src="//rethinkexercisesupplement.com/c9e497a9e3d1c6f510e000018851e023/invoke.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const activePage = window.location.pathname;
      const navLinks = document.querySelectorAll(".navlinks a");

      navLinks.forEach((link) => {
        if (link.getAttribute("href") === activePage) {
          link.classList.add("active");
        }
      });
    });
    document.addEventListener("keydown", (i) => {
      try {
        const panicKey = localStorage.getItem("panicKey");
        const panicSite = localStorage.getItem("panicSite");

        if (i.key === panicKey) {
          window.open(panicSite, "_self");
        }
      } catch (error) {
        console.error(error);
        alert(error);
      }
    });
  </script>

  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-L85G2B6HL5"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-L85G2B6HL5");
  </script>
</html>
