<main>
  <h1>Settings</h1>
  <script type="text/javascript">
    atOptions = {
      key: "13def82c028e7c80ebeecd26958279a7",
      format: "iframe",
      height: 90,
      width: 728,
      params: {},
    };
  </script>
  <script
    type="text/javascript"
    src="//rethinkexercisesupplement.com/13def82c028e7c80ebeecd26958279a7/invoke.js"
  ></script>
  <div class="cards">
    <div class="card">
      <h1>Themes</h1>
      <p>Changes the theme of Lunaar.</p>
      <select id="theme-select">
        <option value="default">Default</option>
        <option value="grey">Cool Grey</option>
        <option value="new">Cool Purple</option>
        <option value="light">Light</option>
        <option value="mocha">Mocha</option>
        <option value="orange">Orange</option>
        <option value="youtube-dark">YouTube Dark</option>
        <option value="starlight">Starlight</option>
        <option value="greyblack">Grey Black</option>
        <option value="3kh0">3kh0</option>
        <option value="artclass">Art Class</option>
        <option value="bone">Bonelab</option>
        <option value="ghost">Black & Red</option>
        <option value="gb">Greyish Blue</option>
        <option value="gg">Greyish Green</option>
        <option value="brown">Brown</option>
        <option value="dg">Dark Orange</option>
        <option value="moon">Moon</option>
        <option value="red">Red</option>
        <option value="sblue">Sahara Blue</option>
        <option value="candy">Cotton Candy</option>
      </select>
    </div>

    <div class="card">
      <h1>About:blank</h1>
      <p>Opens Lunaar in About:blank.</p>
      <button onclick="aboutBlank()">Launch</button>
    </div>

    <div class="card">
      <h1>Panic Key</h1>
      <p>When you press the set key, it will take you to the site you entered.</p>
      <form>
 
        <input
          id="panic-key"
          onchange="setKey(this.value)"
          type="text"
          placeholder="`"
          class="card-input"
          maxlength="1"
        />
  
        <input
          id="panic-url"
          onchange="setSite(this.value)"
          type="text"
          placeholder="https://google.com"
          class="card-input"
        />
      </form>
    </div>

    <div class="card">
      <h1>Tab Cloak</h1>
      <p>Changes the icon and title of Lunaar.</p>
      <select data-cloak-select>
        <option value="default">Default Cloak</option>
        <option value="canvas">Canvas</option>
               <option value="wikipedia">Wikipedia</option>
        <option value="edpuzzle">Edpuzzle</option>
        <option value="drive">Google Drive</option>
        <option value="classroom">Google Classroom</option>
        <option value="zoom">Zoom</option>
      </select>
      <button onclick="resetCloak()">Reset</button>
      <a  href="https://github.com/Parcoil/cloak" class="small">
        Made with CloakJS
      </a>
    </div>

    <div class="card">
      <h1>Search Engine</h1>
      <p>Changes the search engine of Lunaar.</p>
      <select id="seToggle">
        <option value="google">Google</option>
        <option value="bing">Bing</option>
        <option value="brave">Brave</option>
        <option value="ddg">DuckDuckGo</option>
      </select>
    </div>

    <div class="card">
      <h1>Stars Toggle</h1>
      <p>Toggles the display of stars in the background of Lunaar.</p>
  <label class="switch">
  <input type="checkbox" id="starsToggle" checked>
  <span class="slider round"></span>
</label>
    </div>

  <div class="footer">
    <a id="version" href="https://github.com/parcoil/lunaar.org"
      >Loading version</a
    >
  </div>
</main>

<script>
  const searchengine = localStorage.getItem("se");
  const seToggle = document.getElementById("seToggle");
  const starsToggle = document.getElementById("starsToggle");

  seToggle.addEventListener("change", (event) => {
    localStorage.setItem("se", event.target.value);
  });

  starsToggle.addEventListener("change", (event) => {
    setStars(event.target.checked ? "on" : "off");
  });

  function setStars(state) {
    console.log("[Lunaar]", "Stars state:", state);
    localStorage.setItem("stars", state === "on");
    document.location.reload();
  }

  const panickey = document.getElementById("panic-key");
  const panicurl = document.getElementById("panic-url");

  const themeSelect = document.getElementById("theme-select");
  themeSelect.addEventListener("change", (event) => {
    localStorage.setItem("theme", event.target.value);
    setTheme(event.target.value);
  });

  function resetCloak() {
    localStorage.removeItem("cloakFavicon");
    localStorage.removeItem("cloakTitle");
    document.location.reload();
  }

  function loadSettings() {
    themeSelect.value = localStorage.getItem("theme");
    seToggle.value = localStorage.getItem("se");
    panickey.value = localStorage.getItem("panicKey");
    panicurl.value = localStorage.getItem("panicSite");
    starsToggle.checked = localStorage.getItem("stars") !== "false";
  }

  loadSettings();



  function aboutBlank() {
    const newWindow = window.open();
    newWindow.document.body.style.margin = "0";
    newWindow.document.body.style.height = "100vh";

    const iframe = newWindow.document.createElement("iframe");
    iframe.style.border = "none";
    iframe.style.width = "100%";
    iframe.style.height = "100%";
    iframe.referrerPolicy = "no-referrer";
    iframe.src = window.location.href;

    newWindow.document.body.appendChild(iframe);
    window.location.replace(
      "https://www.google.com/search?q=what+day+is+today"
    );
  }

  function setKey(key) {
    localStorage.setItem("panicKey", key);
  }
  function setSite(site) {
    localStorage.setItem("panicSite", site);
  }

  fetch("../package.json")
    .then((response) => response.json())
    .then((data) => {
      document.getElementById("version").textContent = data.version;
    });

  const cloaks = [

    {
      name: "drive",
      icon: "./media/cloaks/googledrive.png",
      title: "Home - Google Drive",
    },
     {
      name: "edpuzzle",
      icon: "./media/cloaks/edpuzzle.png",
      title: "Edpuzzle",
    },
         {
      name: "wikipedia",
      icon: "./media/cloaks/wikipedia.ico",
      title: "Wikipedia",
    },

    {
      name: "canvas",
      icon: "./media/cloaks/canvas.png",
      title: "Dashboard",
    },
    { name: "classroom", icon: "./media/cloaks/classroom.png", title: "Home" },
    { name: "zoom", icon: "./media/cloaks/zoom.png", title: "Zoom" },
  ];
</script>
