<svg xmlns="http://www.w3.org/2000/svg" version="1.2" viewBox="0 0 700 700" width="700" height="700">
	<title>if you see this have a cookie</title>
	<defs>
		<filter x="-50%" y="-50%" width="200%" height="200%" id="f1"><feDropShadow dx="0" dy="0" stdDeviation="33.333333333333336" flood-color="#aa09ac" flood-opacity=".8"/></filter>
	</defs>
	<style>
		.s0 { filter: url(#f1);fill: #ffffff } 
	</style>
	<path id="Layer" class="s0" d="m377.2 606c79 0 151.1-35.9 198.9-94.8 7-8.7-0.7-21.4-11.6-19.3-124.2 23.6-238.3-71.6-238.3-197 0-72.2 38.7-138.6 101.5-174.4 9.7-5.5 7.3-20.2-3.7-22.2q-5.8-1.1-11.6-1.9-5.8-0.8-11.7-1.3-5.9-0.6-11.7-0.8-5.9-0.3-11.8-0.3c-141.3 0-256 114.5-256 256 0 141.3 114.5 256 256 256z"/>
</svg>