<div class="nav">
  <div class="navstart">
    <a href="/" class="push">
      <h2 class="push lsans sitetext" style="font-size: 2rem">lunaar.</h2>
    </a>
  </div>
  <div class="navlinks">
    <a href="/science">
      <button class="clear">
        <i class="fa-solid fa-joystick"></i>

        <p>&nbsp;Games</p>
      </button>
    </a>
    <a href="/math">
      <button class="clear">
        <i class="fa-solid fa-grid-2"></i>
        <p>&nbsp;Apps</p>
      </button>
    </a>
    <a href="/settings">
      <button class="clear">
        <i class="fa-solid fa-sliders"></i>
        <p>&nbsp;Settings</p>
      </button>
    </a>
  </div>
</div>
