@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Lunaar Sans";
  src: url(/./media/Croogla4F.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: 0.2s;
  text-decoration: none;
  color: var(--textcolor);
}
:root {
  --background-filter: blur(3px) brightness(80%);
  --bg: #3b039c;
  --alt: rgb(69, 9, 174);
  --logo: #6b09ac;
  --button: rgb(180, 105, 255);
  --textcolor: #fff;

  --rounded: 30.4px;
  --rounded2: 10px;
  --blur: blur(3px);
  --brightness: brightness(75%);
}
body {
  background-color: var(--bg);
}
.footer {
  position: fixed;
  background-color: var(--blur);
  backdrop-filter: var(--blur) var(--brightness);
  border-radius: var(--rounded);
  border: 1px solid var(--alt);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  bottom: 10px;
}
/* Base styles */
.nav {
  display: flex;
  align-items: center;
  background-color: var(--blur);
  backdrop-filter: var(--blur) var(--brightness);
  padding: 20px;
  border: 1px solid var(--alt);
  top: 0;
  position: sticky;
  gap: 10px;
  width: calc(100vw - 40px);
  margin: 20px;
  z-index: 100;
  height: 4.2rem;
  border-radius: var(--rounded);
}

.lsans {
  font-family: Lunaar Sans;
  font-weight: 500;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}
.navlinks i {
  font-size: 1.1rem;
  margin-right: 5px;
}
@media only screen and (max-width: 600px) {
  .navlinks i {
    font-size: 1.4rem;
    margin-right: 0;
  }
  .navlinks p {
    display: none;
  }
  .footer-right {
    display: none;
  }
}

i {
  color: var(--textcolor2);
}
.shortcuts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 490px;
  justify-content: center;
}
.shortcuts img {
  border-radius: 100%;
}
.shortcut {
  border-radius: var(--rounded2);
  padding: 10px;
  text-wrap: wrap;
  width: 95px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  min-height: 3rem;
  border-radius: var(--rounded);
  background-color: var(--button);
  border: 2px solid var(--alt);
  color: var(--textcolor2);
  font-size: 0.876rem;
  cursor: pointer;
  transition: 0.2s;
  padding: 1rem;
  justify-content: center;
  text-align: center;
}
button.clear {
  color: var(--textcolor);
  background-color: var(--blur);
  backdrop-filter: var(--blur) var(--brightness);
  border: none;
}
button.clear i {
  color: var(--textcolor);
}
select {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  min-height: 3.9rem;
  border-radius: var(--rounded);
  background-color: var(--button);
  outline: none;
  font-size: 0.876rem;
  cursor: pointer;
  transition: 0.2s;
  padding: 1rem;
  border: 0.1rem solid var(--alt);
  justify-content: center;
  text-align: center;
}
option:nth-child(1):hover {
  background: #141414;
}
.hover:hover,
button:hover,
.shortcut:hover {
  /* background-color: var(--alt);
  border-color: var(--button); */
  transform: scale(1.05);
  cursor: pointer;
}
button.clear:hover,
.push:hover,
.shortcut:hover {
  background-color: var(--alt);
  border-color: var(--button);
}
button:active,
.push:active {
  transform: scale(0.9);
}
button.filled {
  background-color: var(--button);
}
.push {
  transition: 0.2s;
  border-radius: var(--rounded);
}
a.active > button {
  background-color: var(--alt);
}
a h2 {
  padding: 10px;
}
main {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
input[type="text"] {
  padding: 1rem;
  background-color: var(--alt);
  border: 1px solid var(--button);
  border-radius: var(--rounded);
  outline: none;

  height: 3.3rem;
  margin-bottom: 10px;
}
input[type="text"]::placeholder {
  color: var(--alt-text);
}
.card-input {
  text-align: center;
  background-color: var(--button) !important;
  border: none !important;
}
#searchBar,
#search {
  width: 20rem;
}
#uv-address {
  width: 20rem;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: none;
  background-color: var(--button);
  border-color: var(--alt);
}
#uv-form {
  display: flex;
  justify-content: center;
}
.home-search {
  width: 10px;
  height: 55px;
}
.search-right {
  border-bottom-right-radius: var(--rounded);
  border-top-right-radius: var(--rounded);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  height: 3.3rem;
  background-color: var(--button);
  padding-right: 10px;
}
.home {
  flex-direction: column;
  margin-top: 15%;
}
svg {
  height: 100px;
  width: 100px;
}
.icon {
  width: 1.4rem;
}
button .icon {
  margin-right: 10px;
}
#uv-form {
  margin-top: 1rem;
}
.card {
  background-color: none;
  border-radius: var(--rounded2);
  backdrop-filter: blur(2px);
  padding: 20px;
  display: flex;
  margin: 5px;
  width: 20rem;
  min-width: 20rem;
  max-width: 30rem;
  min-height: 13rem;
  gap: 1rem;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--button);
}
.main-logo {
  font-size: 50px;
}
.games,
.apps {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.game,
.app {
  width: 200px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.game:hover,
.app:hover {
  transform: scale(0.9);
}

.game:hover img {
  border: 5px solid var(--button);
}
.game img,
.app img {
  max-width: 200px;
  max-height: 200px;
  min-height: 200px;
  border-radius: var(--rounded);
  border: 0px solid var(--alt);
}
.search {
  margin-top: 1rem;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: var(--button);
  border-radius: 10px;
}

#gameFrame {
  width: 1024px;
  height: 576px;
}

#proxFrame {
  width: 100vw;
  height: 100vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#frame {
  width: 100vw;
  height: 100vh;
  position: static;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
#uv-address {
  border-top: 1px solid var(--alt);
  border-left: 1px solid var(--alt);
  border-bottom: 1px solid var(--alt);
}
.search-right {
  border-top: 1px solid var(--alt);
  border-right: 1px solid var(--alt);
  border-bottom: 1px solid var(--alt);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  border-radius: 34px;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
::selection {
  color: var(--textcolor);
  background: var(--button);
}
.small {
  font-size: 0.6rem;
}
.playcontainer {
  background-color: var(--alt);
  z-index: 2;
  border-radius: var(--rounded);
  width: 70%;
  border: 1px solid var(--button);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#gameiframe {
  z-index: 2;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.gameinfo {
  display: flex;
  padding: 10px;
  gap: 10px;
  justify-content: space-evenly;
}
.prxbar {
  display: flex;
  gap: 100px;
  justify-content: center;
  height: 4.3rem;
  width: 100vw;
  align-items: center;
  border-radius: 15px;
  border-bottom: 1px solid var(--button);
}
.prxbuttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.z {
  z-index: -1;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  z-index: 1;
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 8px solid var(--button);
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
.badge {
  background-color: var(--alt);
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .slider {
  background-color: var(--button);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--button);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
