/* Hey skid or contributor this is the main css file for the whole website.
 if you are looking for themes there in "themes.css
 
 
 "*/

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@400;500&display=swap");

@font-face {
  font-family: "Croogla 4F";
  src: url(c/ss/fonts/Croogla4F.eot) format("embedded-opentype"),
    url(/css/fonts/Croogla4F.eot) format("embedded-opentype"),
    url(/css/fonts/Croogla4F.woff2) format("woff2"),
    url(/css/fonts/Croogla4F.woff) format("woff"),
    url(/css/fonts/Croogla4F.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "bone";
  src: url("/css/fonts/nasalization-rg.otf") format("opentype");
  /* Add additional font formats if needed */
  /* Other font properties like font-weight and font-style can also be specified */
}
/* Global */
#favicon {
  width: 35px;
}
:root {
  --background: #1a2023;
  --logo: rgb(29, 130, 255);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  height: 100vh;
  color: rgb(219, 219, 219);
  animation: fadeIn 1s ease-out forwards;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Fade in from the top */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Header */
header {
  background-color: transparent;
  padding: 20px;
  text-align: center;
}
/* Search */
.search-container {
  position: relative;
  width: 250px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the search bar */
  display: flex;
}

#searchBar {
  width: 100%;
  height: 30px; /* Adjust the height as needed */
  border: none;
  background-color: #fff; /* Background color for the Neumorphic effect */
  border-radius: 8px; /* Adjust the border radius as needed */
  padding: 8px; /* Adjust the padding as needed */
  padding-left: 30px; /* Extra left padding for the icon */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
  font-family: "Ubuntu", sans-serif; /* Use the Ubuntu font */
  outline: none; /* Remove the default focus outline */
  transition: box-shadow 0.3s, background-color 0.3s;
  justify-content: center;
  text-align: center;
  color: #000;
}

.search-icon {
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
  top: 55%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0); /* Color for the magnifying glass icon */
}

#searchBar:focus,
#searchBar:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the focus/hover shadow as needed */ /* Adjust the background color on focus/hover as needed */
}

#searchBar::placeholder {
  color: #000000; /* Set the placeholder text color */
  transition: color 0.3s ease-in-out; /* Add transition to the placeholder color */
}

#searchBar:focus::placeholder,
#searchBar:hover::placeholder {
  color: #000000; /* Adjust the placeholder color on focus/hover as needed */
}
#searchBar:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Adjust the focus shadow as needed */
}

#searchBar.typing::placeholder {
  opacity: 1; /* Show the placeholder with full opacity while typing */
}

button {
  position: relative;
  cursor: pointer;
}

/* Headings and Links */
h1,
h2,
h3,
h4,
h5,
a,
p,
td,
tr {
  margin: 0;
  font-family: "Ubuntu";
  font-weight: 800;
  text-decoration: none;
  color: white;
}
/* Game container */
#gameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
/* Game Card */
.gameCard {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 0px solid #ccc;
  transition: transform 0.3s ease-in-out;
}

.gameCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.gameCard img {
  width: 100%;
  height: 85%;
  border-radius: 15px;
  object-fit: cover;
}

.gameCard h3 {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

/* Additional styles for the favorite game card */
#favoriteGamesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.favoriteGameCard {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 0px solid #ccc;
  transition: transform 0.3s ease-in-out;
}
.favoriteGameCard img {
  width: 100%;
  height: 85%;
  border-radius: 15px;
  object-fit: cover;
}
.favoriteGameCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.favoriteGameCard h3 {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.removeButton {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

svg {
  fill: rgb(255, 255, 255);
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--button);
  border-radius: 15px;
  height: 2px;
}
/* Navbar */
.navbar ul {
  list-style-type: none;
  background-color: transparent; /* Darker and semi-transparent */
  padding: 0px;
  margin-top: 10px;
  overflow: hidden;
  text-align: center;

  transition: background-color 0.3s;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul:hover {
  background-color: transparent;
}
li {
  text-decoration: none;
  color: rgb(219, 219, 219);
  list-style-type: none;
}
.navbar a {
  color: rgb(219, 219, 219);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: left; /* 50% away from the left */
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s, transform 0.3s,
    border-radius 0.3s; /* Added border-radius transition */
  border-radius: 5px; /* Rounded corners on hover */
}

.navbar a:hover {
  background-color: var(--button);
  transform: scale(1.05);
  border-radius: 15px;
  color: #fff; /* Rounded corners on hover */
}

.navbar li {
  float: left;
}

.navlogo {
  position: absolute;
  height: auto;
  left: 10%;
  top: 15px;
  width: 30px;
}
.navtext {
  position: absolute;
  left: 10%;
  top: 15px;
  width: 30px;
  color: var(--logo);
  font-size: 30px;
  font-family: "Croogla 4F";
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Native logo*/
.native {
  color: var(--logo);
  margin-top: 1%;
  font-size: 64px;
  font-family: "Croogla 4F";
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust the height as needed */
}
/*Randome Text on homepage*/
#randomText {
  color: #fff;
  font-family: "Ubuntu";
  text-align: center;
  position: relative;
  bottom: 190px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Hide Nav bar on small displays*/
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
    position: absolute;
    top: 100%; /* Position it below the navbar */
    left: 0;
    width: 100%;
    background-color: rgba(26, 32, 35, 0.9);
    transition: all 0.3s ease;
  }

  .navbar li {
    width: 100%; /* Make the list items full width */
    text-align: center; /* Center the text */
  }

  .navbar li:hover {
    background-color: rgba(26, 32, 35, 0.9);
  }

  .navbar li a {
    display: block;
    padding: 10px;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }

  .navbar li a:hover {
    background-color: rgb(29, 130, 255);
    border-radius: 0;
    transform: none;
    text-shadow: none;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle:checked + .navbar ul {
    display: block;
  }

  .menu-toggle {
    display: none;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card {
  background-color: rgb(29, 130, 255);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 850px;
  margin: 0px auto;
  position: absolute;
  left: 100px;
  top: 125px;
  display: block;
}

#iframeContainer {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.card-body {
  padding: 10px;
}

.card-body h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #dbdbdb;
}
/*Play Page*/
#gameIframe {
  width: 100%;
  height: 400px;
  margin-bottom: 0;
  border-radius: 8px 8px 0 0;
}

#fullscreengame {
  width: 50px;
  height: 50px;
  top: 20px;
  right: -800px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 9999;
  color: #fff;
}
#exitfullscreen {
  color: #800000;
  border: none;
  z-index: 9999;
  background: none;
  position: fixed;
  top: 30px;
  right: 0;
  display: none;
}
/*Button*/
.button {
  background-color: var(--button);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  position: relative;
  margin-top: 0;
}

.button:hover {
  background-color: var(--buttonhover);
  transform: translateY(-3px);
}
/*Cloaks*/
#premadecloaks {
  background-color: var(--button);
  border: none;
  color: white;
  padding: 15px 32px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
  font-weight: 700;
}

#premadecloaks:hover {
  background-color: var(--buttonhover);
  transform: translateY(-3px);
}
/*Themes*/
#themeSelect {
  background-color: var(--button);
  border: none;
  color: white;
  padding: 15px 32px;

  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
  font-weight: 700;
}

#themeSelect:hover {
  background-color: var(--buttonhover);
  transform: translateY(-3px);
}

/*Settings Page*/
#settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 12.5vh;
}
input[type="settings"] {
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="settings"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
/*Apps Page*/
#appContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

#mathquiz {
  position: relative;
  top: 450px;
  cursor: pointer;
}

#themeSelect {
  font-family: "Ubuntu", sans-serif;
}

.rwd-table {
  color: #aea1ce;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 800px;
}

.rwd-table tr {
  border-color: #aea1ce;
  text-align: center;
}

.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
  padding: 1em;
  background-color: var(--alt);
}

.rwd-table td:before {
  color: #3da6ae;
  font-weight: bold;
  margin-right: 0.5em;
}

.rwd-table a {
  color: var(--logo);
}

@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    margin: 0;
    padding: 1em !important;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }

  .rwd-table td:before {
    display: none;
  }
}
.search-bar {
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
}
.container {
  text-align: center;
}

.search-box {
  margin-top: 100px;
  display: inline-block;
  max-width: 400px;
}

input[type="text"] {
  width: calc(100% - 90px);
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  width: 300px;
}

select {
  text-align: center;
  text-align-last: center;
}
option {
  text-align: left;
}

#gamename {
  color: white;
}
.badge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}
.dropbtn {
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  color: rgb(219, 219, 219);
  padding: 15px;
  font-size: 16px;

  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: black;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-radius: 15px;
  background-color: rgb(29, 130, 255);
  color: #fff;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--background);
  margin: auto;
  padding: 20px;
  border: 2px dashed #888;
  width: 80%;
  height: 400px;
  border-radius: 15px;
  color: #000;
}
.modal-content h3,
.modal-content h1 {
  color: #fff;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  margin-top: -3%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.favoriteButton,
.unfavoriteButton {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff; /* Adjust the color as needed */
  transition: color 0.3s ease-in-out;
  top: -7%;
  left: -13%;
}

.favoriteButton:hover,
.unfavoriteButton:hover {
  color: #ff0000; /* Adjust the hover color as needed */
}
.starstext {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Add smooth transition for the moving effect */
.navbarex a {
  transition: transform 0.3s ease, font-size 0.3s ease;
}
